.alinear{
    text-align: center;
}
.fondo{
    background-image: url(../imagen/descarga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.margen{
    margin-top: 100px;
}